
@{
    ViewData["Title"] = "Bienvenido";
}

<h1>Welcome</h1> 

<ul>
    @{
        // /HelloWorld/Welcome?nombre=Juan&apellido=Perez&numVeces=4

        int numVeces = Convert.ToInt32(ViewData["numVeces"]);
        string? Texto = ViewData["nombreCompleto"].ToString();

        for(int i = 0; i < numVeces; i++)
        {
            <li>@Texto @(i + 1)</li>
        }
    }
</ul>